html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100%;
    background: rgb(237,225,230);
    background: linear-gradient(153deg,
     rgba(237,225,230,1) 0%, rgba(152,188,231,1) 100%); 
}
h2 {
    font-size: 40px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.game-buttons {
    border: 1px solid yellow;
    display: flex;
    gap: 1.5em;
}
.game-buttons button {
    padding: 1em;
    font-size: 1.5em;
}
.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.choices {
    display: flex;
    gap: 4em;
}
.choice {
    border: 1px solid black;
    border-radius: 15px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.round-message {
    border-radius: 5px;
    background-color: #bbb;
    box-shadow: 5px 5px 2px #bbb, -5px -5px 2px #bbb
    , -5px 5px 2px #bbb, 5px -5px 2px #bbb;
    padding: 0 2em 0 2em;
}
table {
    border: 1px solid red;
}
td {
    padding: 5px 50px 5px 20px;
}
.score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 1px solid green;
}
/* used to hide buttons */
.invisible {
    display: none;
    position: absolute;
}